
div(class=['ui', 'inverted', 'horizontal','fluid', 'tabular','menu'])
  a(class=['active', 'item'] href='/')= 'Random Quote'
  a(class='item' href='/quotes')= 'My Quotes'
  a(class='item' href='/newquotes')= 'New Quote'
